/*#marineButtons {
	color: white;
	height: 50px;
	padding: 10px;
}*/
.marine-class {
	background-color: #0b86a5;
	color: white;
	font-size: 16px;
	margin-right: 15px;
	/*margin-top: 5px;*/
}

body {
	 background: url("../images/background.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
	 width: 100%;
	 min-height: 100%;
	 margin: 0;
	 font-family: 'Shadows Into Light', cursive;
}

.jumbotron {
	background-color: #efdfc7;
	font-family: 'Shadows Into Light', cursive;
	text-align: center;
	color: #0b86a5;
	height: 130px;
	opacity: 0.9;
	
}

.text-center {
	font-weight: bold;
}

#gif-area {
	background-color: #f5f5d0;;
}

#form-id {
	background-color: pink;
}

#animal-form {
	display: inline-block;
	height: 140px;
	width: 180px;
}

/*p{
	font-size: 16px;
}*/

